{
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "globals": {
    "defineProps": "readonly",
    "withDefaults": "readonly"
  }
}
