{
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "globals": {
    "defineEmits": "readonly",
    "defineProps": "readonly",
    "withDefaults": "readonly"
  },
  "rules": {
    "vue/multi-word-component-names": "off"
  }
}
