[Unit]
Description=Gesundheitsdienst

[Service]
Type=simple
User=gesundheit
Group=gesundheit
ExecStart=/usr/bin/gesundheit -conf /etc/gesundheit/gesundheit.toml

[Install]
WantedBy=multi-user.target
