name: "build"
on: "push"

env:
  CGO_ENABLED: "0"
  GOOS: "linux"

jobs:
  build:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        arch: ["386", "amd64", "arm", "arm64"]
    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-go@v2"
        with:
          go-version: ">=1.17.7"
      - run: "go build -v -a -o gesundheit-${GITHUB_REF##*/}-${{ matrix.arch }} ."
        env:
          GOARCH: "${{ matrix.arch }}"
      - if: startsWith(github.ref, 'refs/tags/')
        uses: "softprops/action-gh-release@v1"
        with:
          files: "gesundheit-*"

  pkgbuild:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: "ubuntu-latest"
    container: archlinux/archlinux:base-devel
    steps:
      - run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm git go
      - run: |
          useradd -m build
          echo -n "${PACKAGE_SIGNING_KEY}" | su build -c "gpg --import"
        env:
          PACKAGE_SIGNING_KEY: ${{ secrets.PACKAGE_SIGNING_KEY }}
      - run: |
          curl -LO "https://raw.githubusercontent.com/ushis/gesundheit/${GITHUB_REF_NAME}/PKGBUILD"
          sed -i "s/pkgver=.\+/pkgver=${GITHUB_REF_NAME}/g" PKGBUILD
          mkdir -p /build/{x86_64,armv7h}
          chown -R build:build /build
          cp PKGBUILD /build/x86_64
          cp PKGBUILD /build/armv7h
      - run: |
          cd /build/x86_64
          export CARCH="x86_64"
          export CHOST="x86_64-pc-linux-gnu"
          export GOARCH="amd64"
          su build -c "makepkg --sign --skipchecksums"
          su build -c "repo-add gesundheit.db.tar.gz gesundheit-*.pkg.tar.zst"
      - run: |
          cd /build/armv7h
          export CARCH="armv7h"
          export CHOST="armv7l-unknown-linux-gnueabihf"
          export GOARCH="arm"
          su build -c "makepkg --sign --skipchecksums"
          su build -c "repo-add gesundheit.db.tar.gz gesundheit-*.pkg.tar.zst"
      - uses: "actions/checkout@v2"
        with:
          ref: gh-pages
          path: pages
      - run: |
          cd pages
          mkdir -p {x86_64,armv7h}
          cp /build/x86_64/gesundheit{-*.pkg.*,.db*,.files*} x86_64
          cp /build/armv7h/gesundheit{-*.pkg.*,.db*,.files*} armv7h
          (for f in **/gesundheit*; do echo "* [${f}](${f})"; done) > _repo.md
          git config user.name "Github Action"
          git config user.email "ushi+github-action@honkgong.info"
          git add .
          git commit -m "release ${GITHUB_REF_NAME}"
          git push
