name: "main"

on: "push"

jobs:
  build:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        arch: ["386", "amd64", "arm", "arm64"]
    env:
      GOOS: "linux"
      GOARCH: "${{ matrix.arch }}"
      GOARM: "7"
      GOFLAGS: "-trimpath -mod=readonly -modcacherw"
      CGO_ENABLED: "0"
    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-go@v2"
        with:
          go-version: ">=1.17.7"
      - run: |
          go build -v -a -o gesundheit .
      - uses: actions/upload-artifact@v2
        with:
          name: gesundheit-${{ matrix.arch }}
          path: gesundheit

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build]
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        arch: ["386", "amd64", "arm", "arm64"]
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: gesundheit-${{ matrix.arch }}
      - run: |
          mv gesundheit "gesundheit-${GITHUB_REF_NAME}-${{ matrix.arch }}"
      - uses: "softprops/action-gh-release@v1"
        with:
          files: "gesundheit-*"

  pkg:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: "ubuntu-latest"
    container: archlinux/archlinux:base-devel
    strategy:
      matrix:
        arch: ["x86_64", "armv7h"]
    steps:
      - id: goarch
        run: |
          if test "${{ matrix.arch }}" = "x86_64"; then
            echo '::set-output name=GOARCH::amd64'
          elif test "${{ matrix.arch }}" = "armv7h"; then
            echo '::set-output name=GOARCH::arm'
          fi
      - run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm git go
      - run: |
          useradd -m build
          echo -n "${PACKAGE_SIGNING_KEY}" | su build -c "gpg --import"
        env:
          PACKAGE_SIGNING_KEY: ${{ secrets.PACKAGE_SIGNING_KEY }}
      - uses: "actions/checkout@v2"
        with:
          path: src
      - run: |
          mkdir /build
          chown build:build /build
          sed "s/pkgver=.\+/pkgver=${GITHUB_REF_NAME}/g" src/pkg/PKGBUILD > /build/PKGBUILD
          cd /build
          export CARCH="${{ matrix.arch }}"
          export GOARCH="${{ steps.goarch.outputs.GOARCH }}"
          su build -c "makepkg --sign --skipchecksums"
          su build -c "repo-add gesundheit.db.tar.gz gesundheit-*.pkg.tar.zst"
      - run: ls -l /build
      - uses: actions/upload-artifact@v2
        with:
          name: pkg-${{ matrix.arch }}
          path: |
            /build/gesundheit-*.pkg.*
            /build/gesundheit.db*
            /build/gesundheit.files*

  deb:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: "ubuntu-latest"
    needs: [build]
    strategy:
      matrix:
        arch: ["i386", "amd64", "armhf", "arm64"]
    steps:
      - id: goarch
        run: |
          case "${{ matrix.arch }}" in
            "i386") echo "::set-output name=GOARCH::386";;
            "armhf") echo "::set-output name=GOARCH::arm";;
            *) echo "::set-output name=GOARCH::${{ matrix.arch }}";;
          esac
      - uses: actions/download-artifact@v2
        with:
          name: gesundheit-${{ steps.goarch.outputs.GOARCH }}
          path: bin
      - uses: "actions/checkout@v2"
        with:
          path: src
      - run: |
          sed -i "s#Architecture: .\+#Architecture: ${{ matrix.arch }}#g" src/pkg/deb/control
          sed -i "s#Version: .\+#Version: ${GITHUB_REF_NAME}#g" src/pkg/deb/control
          sudo install -Dm644 src/pkg/deb/control                  gesundheit/DEBIAN/control
          sudo install -Dm755 src/pkg/deb/postinst                 gesundheit/DEBIAN/postinst
          sudo install -Dm755 bin/gesundheit                       gesundheit/usr/bin/gesundheit
          sudo install -Dm644 src/pkg/systemd/gesundheit.sysusers  gesundheit/usr/lib/sysusers.d/gesundheit.conf
          sudo install -Dm644 src/pkg/systemd/gesundheit.service   gesundheit/usr/lib/systemd/system/gesundheit.service
          sudo install -Dm644 src/gesundheit.toml                  gesundheit/etc/gesundheit/gesundheit.toml
          sudo install -dm755                                      gesundheit/etc/gesundheit/modules.d
          dpkg-deb --build gesundheit "gesundheit_${GITHUB_REF_NAME}_${{ matrix.arch }}.deb"
      - uses: actions/upload-artifact@v2
        with:
          name: "deb-${{ matrix.arch }}"
          path: "*.deb"

  deb-repo:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [deb]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: deb-i386
      - uses: actions/download-artifact@v2
        with:
          name: deb-amd64
      - uses: actions/download-artifact@v2
        with:
          name: deb-armhf
      - uses: actions/download-artifact@v2
        with:
          name: deb-arm64
      - run: |
          echo -n "${PACKAGE_SIGNING_KEY}" | gpg --import
        env:
          PACKAGE_SIGNING_KEY: ${{ secrets.PACKAGE_SIGNING_KEY }}
      - run: |
          ls -lR
          apt-ftparchive packages . > Packages
          gzip -k -f Packages
          apt-ftparchive release . > Release
          gpg --digest-algo SHA256 --armor --output Release.gpg --detach-sign Release
          gpg --digest-algo SHA256 --clearsign --output InRelease Release
      - uses: actions/upload-artifact@v2
        with:
          name: deb-repo
          path: |
            *.deb
            Packages*
            Release*
            InRelease

  pages:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [pkg, deb-repo]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: pkg-x86_64
          path: pkg/arch/x86_64
      - uses: actions/download-artifact@v2
        with:
          name: pkg-armv7h
          path: pkg/arch/armv7h
      - uses: actions/download-artifact@v2
        with:
          name: deb-repo
          path: pkg/deb
      - uses: "actions/checkout@v2"
        with:
          ref: gh-pages
          path: pages
      - run: |
          rm -rf pages/{arch,deb}
          mv pkg/{arch,deb} pages
          cd pages
          (for f in $(find arch deb -type f | sort); do echo "* [${f}](${f})"; done) > _repo.md
          git config user.name "Github Action"
          git config user.email "ushi+github-action@honkgong.info"
          git add .
          git commit -m "release ${GITHUB_REF_NAME}"
          git push
